.time-value {
  color: var(--gray60);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product-image {
  width: 150px;
  height: 60px;
  border-radius: 4px;
}

.price-value {
  color: var(--gray50);
}

.container {
  display: flex;
  align-self: center;
  border: 1px solid gray;
  width: 80px;
}
.containerOutside {
  display: flex;
  align-self: center;
}
.item {
      margin-left: 10px;
}
