view { 
}

.content {
  padding: 16px 0;
  background-color: var(--gray10);
}

.container {
  display: flex;
  align-self: center;
  border: 1px solid gray;
  width: 80px;
}
.containerOutside {
  display: flex;
  align-self: center;
}